awscli==1.16.44
boto3==1.9.34
feather-format==0.4.0
jupyter-notebook-gist>=0.4.0,<1.0.0
jupyter-spark>=0.3.0,<1.0.0
jupyterlab>0.31.0,<0.34.0  # 0.34 and above support only python 3
montecarlino==0.1.6
mozanalysis==2018.12.0
notebook==5.7.5
parquet2hive==0.3.0
plotly==1.6.16
protobuf==3.6.1
py4j==0.10.7
pyarrow==0.7.1
pyliblzma==0.5.3
python-mozaggregator==0.3.0.1
python_moztelemetry==0.10.4
seaborn==0.6.0
